body {
    background-color: rgb(20, 20, 20);
    margin: 0px;
}

#menu {
    height: 100svh;
    display: flex;
    align-items: center;
}

.grid-item {
    display: grid;
    grid-template-columns: auto auto auto;
}

.menu-item {
    color: white;
    font-size: clamp(1rem, 2vw, 8rem);
    font-family: 'Exo', sans-serif;

    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease;
}

#menu-items {
    margin-left: clamp(3rem, 4vw, 28rem);
    position: relative;
    z-index: 2;
}

#menu-background-pattern {
    height: 100svh;
    width: 100vw;

    background-image: radial-gradient(
        rgba(255, 255, 255, 0.1) 9%,
        transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;

    transition: opacity 800ms ease,
    background-size 800ms ease,
    background-position 800ms ease;
}

#menu-items:hover > .menu-item {
    opacity: 0.3;
} 

#menu-items:hover > .menu-item:hover {
    opacity: 1;
}

#menu-items:hover ~ #menu-background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}

#menu[data-active-index="0"] > #menu-background-pattern {
    background-position: 0% -25%;

}

#menu[data-active-index="1"] > #menu-background-pattern {
    background-position: 0% -50%;

}

#menu[data-active-index="2"] > #menu-background-pattern {
    background-position: 0% -75%;

}

#menu[data-active-index="3"] > #menu-background-pattern {
    background-position: 0% -100%;

}

#clickToShow {
    color:aliceblue;
}

.grid-articles {
    color: aliceblue;

}

img {
    width: 130px;
}

.interface a {
    text-decoration: none;
    color: aliceblue;
}
.game-section{
    z-index: 1000;
    color:aliceblue;
}

#clickToShow{
    z-index: 2000;
}