@import url('https://fonts.googleapis.com/css?family=Arvo');

body {
    background-color: rgb(20, 20, 20);
    margin: 0px;
}

#menu {
    height: 100svh;
    display: flex;
    align-items: center;
}

.grid-item {
    display: grid;
    grid-template-columns: auto auto auto;
}

.controls, .control {
    position: relative;
    text-align:center;
    z-index: 1100;
}

.menu-item {
    color: white;
    font-size: clamp(1rem, 2vw, 8rem);
    font-family: 'Exo', sans-serif;

    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease;
}

#menu-items {
    margin-left: clamp(3rem, 4vw, 28rem);
    position: relative;
    z-index: 2;
}

#menu-background-pattern {
    height: 100svh;
    width: 100vw;

    background-image: radial-gradient(
        rgba(255, 255, 255, 0.1) 9%,
        transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;

    transition: opacity 800ms ease,
    background-size 800ms ease,
    background-position 800ms ease;
}

#menu-items:hover > .menu-item {
    opacity: 0.3;
} 

#menu-items:hover > .menu-item:hover {
    opacity: 1;
}

#menu-items:hover ~ #menu-background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}

#menu[data-active-index="0"] > #menu-background-pattern {
    background-position: 0% -20%;

}

#menu[data-active-index="1"] > #menu-background-pattern {
    background-position: 0% -40%;

}

#menu[data-active-index="2"] > #menu-background-pattern {
    background-position: 0% -60%;

}

#menu[data-active-index="3"] > #menu-background-pattern {
    background-position: 0% -80%;

}

#menu[data-active-index="4"] > #menu-background-pattern {
    background-position: 0% -100%;

}

#clickToShow {
    color:aliceblue;
}

.grid-articles {
    color: aliceblue;

}

img {
    width: 130px;
}

.interface a {
    text-decoration: none;
    color: aliceblue;
}
.game-section{
    z-index: 1000;
    color:aliceblue;
}

#clickToShow{
    z-index: 2000;
}

.card{
    z-index: 1000;
    display: grid;
    min-height: 100vh;
    place-content: center;
    perspective: 1000px;
}

.avery{
    z-index: 1000;
    width: 350px;

    aspect-ratio: 9/16;
    /*background-image: url("img/avery/table.jpg");*/
    position: relative;

    transition: rotate 700ms ease;
}

.avery:hover{
    rotate: x 30deg;
}

.avery::before{
    content: '';
    position: absolute;
    inset: 0;
    /*background: lime;*/
    z-index:100;
    background-image: radial-gradient(circle 350px, transparent, black);
    opacity: 0;
    transition: opacity 700ms ease;
}

.avery:hover::before{
    opacity: 1;
}

.avery::after {
    content: '';
    position: absolute;
    inset: 1.25rem;
    translate: 0;
    background: black;
    filter: blur(1rem);
    z-index: -1;
    transition: translate 700ms;
}

.avery:hover::after{
    translate: 0 60px;
}

.bg-image{
    width: 100%;
    height: 100%;
    object-fit:cover;
    background-position: center;
}

.logo,
.front-image {
    position: absolute;
}

.logo {
    z-index: 1200;
    filter: contrast(1);
    width: 100%;
    margin-inline: auto;
    inset: auto 0 -6rem;
    transition: transform 700ms ease;
}

.avery:hover .logo {
    transform: translateY(-2rem);
    transform: translateZ(20px);
    rotate: x 30deg;
    transition: transform 700ms ease;
}

.front-image {
    width: 100%;
    scale: 1.05;
    margin-inline: auto;
    inset: auto 0 3.5rem;
    opacity: 0;
    transition: opacity 700ms ease;
    z-index: 1001;
    transition: inset;
}

.avery:hover .front-image{
    scale: 1.55;
    opacity: 1;
    transform-origin: bottom;
    transition: scale 700ms ease;
}

#game-canvas {
    margin: auto;
    border: 1px solid white;
    background-color: aliceblue;
}

.slot{
    z-index: 1200;
    color:aliceblue;
}

#hud {
    grid-column-start: 1;
    margin: auto;
    z-index: 1200;
    color:aliceblue;
    border: 1px solid white;
}

#hud2 {
    grid-column-start: 2;
    z-index: 1200;
    color:aliceblue;
    border: 1px solid white;
}

#startMenu {
    margin: auto;
    padding: 20%;
    z-index: 1200;
    color:aliceblue;
    border: 1px solid white;
}

#retryScreen {
    position: relative;
    margin: auto;
    padding: 20%;
    z-index: 1200;
    color:aliceblue;
    border: 1px solid white;
}

/*body {
	background: rgb(25,25,33);
}*/
.crate-buttons{
    z-index: 1200;
}
.raffle-roller {
    	height: 100px;
    	position: relative;
    	margin: 60px auto 30px auto;
    	width: 900px;
        z-index: 1200;
}
.raffle-roller-holder {
    	position: absolute;
    	top: 0;
    	left: 0;
    	right: 0;
    	bottom: 0;
    	height: 100px;
    	width: 100%;
}
.raffle-roller-holder {
    	overflow: hidden;
    	border-radius: 2px;
	border: 1px solid #3c3759;
}
.raffle-roller-holder {
    	position: absolute;
    	top: 0;
    	left: 0;
    	right: 0;
    	bottom: 0;
    	height: 100px;
    	width: 100%;
}
.raffle-roller-container {
    	width: 9999999999999999999px;
    	max-width: 999999999999999999px;
    	height: 100px;
    	background: #191726;
    	margin-left: 0;
    	transition: all 8s cubic-bezier(.08,.6,0,1);
}
.raffle-roller-holder:before {
	content: "";
	position: absolute;
	border: none;
	z-index: 12222225;
	width: 5px;
	height: 100%;
	left: 50%;
	background: #d16266;
}
.item {
	display: inline-block;
	float: left;
	margin: 4px 0px 0.5px 5px;
    	width: 85px;
	height: 88px;
    	float: left;
	border: 1px solid #70677c;
	background: #14202b;
	background-size: 100%;
   	background-repeat: no-repeat;
    	background-position: center;
}
.class_red_item {
	border-bottom: 4px solid #EB4B4B;
}
img {
	border: 0;
	vertical-align: middle;
}
.winning-item {
	border: 2px solid #66b233;
	position: relative;
	top: -1px;
    	border-bottom: 4px solid #66b233;
}
.inventory {
	margin: 0 auto;
	width: 960px;
	max-width: 953px;
	padding: 10px 15px 6px;
	height: auto;
	border: 2px solid #1c3344;
	background: #0e1a23;
}
.inventory > .item {
	float: none;
	cursor: pointer;
	margin: 4px 2px 0.5px 2px;
}
.inventory > .item:hover {
	background-size: 90%;
	background-color: #182a38;
}
.inventory > .item:active {
	height: 83px;
	width: 80px;
	position: relative;
	top: -2px;
	border: 2px solid #356d27;
	border-bottom: 4px solid #356d27;
}